.caixa_width{
/*,espessura, tipo e a cor+> width, style , color*/
/* border-width: 2px; 
border-style: solid;
border-color: goldenrod;

/*shorthand => vários valores na mesma propriedade*/
border:2px solid goldenrod;
 
width:38px;
}

.imagem_width{
    width:300px;
}
 .caixa_heigth{
    border:3px dashed #f00;

    height: 100px;
    width: 100px;
 }